<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alphabot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">Hello, World!</h1> 
    <form method="POST" action="/">
        <div class="direction-buttons">
            <input type='submit' name="command" value="a">
            <input type='submit' name="command" value="w">
            <input type='submit' name="command" value="s">
            <input type='submit' name="command" value="d">
        </div>
        <input class="stop-button" type='submit' name="command" value="stop">
    </form>
</body>
</html>